html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: Quicksand;
      font-weight: lighter;
}

header {
      width: 100%;
      height: 100vh;
      background: url(images/bg2.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 10px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 80px;
      transition: 1s;
      
}

nav.black ul {
      background: rgba(68, 62, 62, 0.678);
      height: 130px;
}

nav ul li {
      display: inline-block;
      padding: 40px 30px;
}

nav ul li a {
      text-decoration: none;
      color: #2bc2c2;
      font-size: 20px;
      font-weight: bold;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: rgba(68, 62, 62, 0.678);
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #2bc2c2;
      display: none;
}

div.land {
      color: #2bc2c2;
      text-align: center;
      line-height: 10px;
      display: block;
      padding-top: 300px;
      
  }

.land h4 {
      margin-block-start: 0;
      font-size: 40px
}

  
.wel h1 {
      font-size: 70px;
      font-style: italic;
}
  
.wel h6 {
      font-size: 30px;
}

.content h1 {
      width: 80%;
      margin: 30px auto;
      text-align: justify;
      font-size: 30px;
      line-height: 30px;
  }
  
  .content h5 {
      width: 100%;
      padding: 30px auto;
      text-align: center;
      font-size: 18px;
      line-height: 30px;
  }
  
  .content p {
      width: 80%;
      margin: 30px auto;
      text-align: justify;
      font-size: 20px;
      line-height: 30px;
  }

  div.btn{
      display: flex;
      justify-content: center;
  }
  
  button {
      background-color: #2bc2c2;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: flex;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.5s;
      cursor: pointer;
      border-radius: 10px;
  }
  
  .btnLearn {
      background-color: white; 
      color: black; 
      border: 2px solid #2bc2c2;
      justify-content: center;
      
  }
  
  .btnLearn:hover {
      background-color: #2bc2c2;
      color: white;
  }

  footer{
      position: relative;
      background-color: black;
      width: 100%;
      height: 300px;
  }
  
  footer ul {
      list-style: none;
      display: flex;
  }
  
  footer ul li {
      display: inline-block;
      font-size: 12px;
      
  }
  
  footer ul li a {
      line-height: 10px;
      padding: 1px 5px;
      font-weight: bold;
      color: #2bc2c2;
      text-decoration: none;
      text-transform: uppercase;
  }

  .footer-logo {
      text-align: center;
      padding-top: 5px;
  }
  
  .footer-list {
      text-align: center;
  }
  
  .footer-list ul {
      display: inline-block;
      margin: 0;
      padding: 15px;
  }
  
  .social {
      text-align: center;
  }
  
  .social ul {
      display: inline-block;
      margin: 0;
      padding: 15px 0px 0px 0px;
  }


@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 10px;
      }


      nav ul {
            max-height: 0px;
            background-color: rgba(68, 62, 62, 0.678);
            text-align: center;
            padding-right: 0;

      }

      nav.black ul {
            background: rgba(68, 62, 62, 0.678);

      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
            height: 130px;
      }

      div.land {
            padding-top: 275px;
            
        }
      
      .land h4 {
            
            font-size: 25px
      }
      
        
      .wel h1 {
            font-size: 55px;
            font-style: italic;
      }
        
      .wel h6 {
            font-size: 15px;
      }

      .content h1 { 
            font-size: 20px;  
      }
        
        .content h5 {
            font-size: 15px;
      }
        
        .content p {
            font-size: 13px;
      }

}
